.assurance {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.assurance-container {
    display: flex;
    flex-direction: row;
    gap: 14rem;
    padding: 2rem;
    margin-block-end: 15rem;
}

.assurance-content {
    display: flex;
    gap: 2rem;
}

.assurance-text>.title {
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--color-assurance);
}

.assurance-text>.description {
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-assurance);
}