.new-arrivals {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.new-arrivals-top {
    width: 100%;
}

.new-arrivals-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-block-end: 7rem;
}

.new-arrivals-header>.title {
    color: var(--color-black);
    font-size: 5rem;
    font-size: 700;
}

.new-arrivals-header>.description {
    color: var(--color-paragraph);
    max-width: 614px;
    margin-inline: auto;
    text-align: center;
    font-size: 2rem;
    text-wrap: pretty;
}

.new-arrivals-filters {
    display: none;
    justify-content: center;
    align-items: center;

    gap: 2.5rem;
    margin-block-end: 5rem;
    transition: all 300ms;
}

/* Mobile version: select */
.new-arrivals-filters-select {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.new-arrivals-filters-select>label {
    color: var(--color-black);
    font-size: 2rem;
}

.new-arrivals-filters-select>select {
    font-size: 2rem;
    background-color: var(--color-lighter-gray);
    color: var(--color-paragraph);
    border: solid 1px var(--color-darker-gray);
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.filter-btn {
    border: none;
    background-color: var(--color-lighter-gray);
    color: var(--color-button);

    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 1.4rem;

    cursor: pointer;
    transition: all 300ms;
}

.filter-btn.active {
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0px 20px 35px 0px #00000026;
}

.filter-btn:not(.active):hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    color: var(--color-black);
}

.new-arrivals-bottom {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem 1rem;
}

.new-arrivals-button {

    font-size: 2rem;
    font-weight: 400;

    background-color: var(--color-primary);
    color: var(--color-white);

    padding: 1rem 3rem;
    margin-block-start: 3rem;
    margin-block-end: 8rem;
    border: solid 1px transparent;
    border-radius: 1.2rem;

    box-shadow: 0px 20px 35px #00000026;
    cursor: pointer;
    transition: all 300ms;
}

.new-arrivals-button:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: solid 1px var(--color-primary);
}

@media screen and (min-width: 768px) {
    .new-arrivals-bottom {
        grid-template-columns: repeat(2, 1fr);
        gap: 6rem 3rem;
    }

    .new-arrivals-button {
        padding: 1.8rem 5rem;
    }
}

@media screen and (min-width: 1024px) {
    .new-arrivals-filters {
        display: flex;
    }

    .new-arrivals-filters-select {
        display: none;
    }

    .new-arrivals-bottom {
        grid-template-columns: repeat(4, 1fr);
        gap: 6rem 4rem;
    }

    .new-arrivals-button {
        padding: 1.8rem 7.6rem;
    }
}

@media screen and (min-width: 1280px) {
    .filter-btn {
        width: 207px;
        height: 56px;
    }

    .new-arrivals-bottom {
        grid-template-columns: repeat(4, 1fr);
        gap: 6rem 4rem;
    }

    .new-arrivals-button {
        padding: 1.8rem 7.6rem;
    }
}