@import "./header.css";
@import "./footer.css";
@import "./home-new-arrival.css";
@import "./home-product-card.css";
@import "./home-banner-bottom.css";
@import "./home-banner-top.css";
@import "./shop-aside.css";
@import "./shop-products.css";
@import "./shop-product-card.css";
@import "./productPage-minicart.css";
@import "./productPage-images.css";
@import "./productPage-content.css";

.main {
    width: 100%;
    max-width: 1280px;
    min-height: calc(100dvh - 110.78px);
    padding: 2rem;
    box-sizing: border-box;
    margin-inline: auto;
}