@import "./reset.css";
@import "../assets/fonts/fonts.css";
@import "./components/index.css";

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 2.5rem 0rem 2.5rem;
    margin-top: 4.5rem;
    gap: 3rem;
    transition: all 300ms;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
}